// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";


body {
  padding-top: 137px;
  padding-bottom: 20px;
}

.res-nav {
    padding: 40px 0 46px;
}

.res-nav-links {
    padding-left: 80px;
}